version: v1
name: wf-<depot_name>-depot-scanner
type: workflow
tags:
- Tier.Gold
description: Scan schema from <depot_name> and register in Metis.
owner: dataos-manager
workspace: public
workflow:
  dag:
  - name: <depot_name>-depot-scanner
    description: Scan schema and register in Metis.
    spec:
      tags:
      - scanner
      stack: scanner:2.0
      runAsUser: metis
      compute: runnable-default
      resources:
        requests:
          cpu: 200m
          memory: 250Mi
        limits:
          cpu: '1'
          memory: 1000Mi
      stackSpec:
        depot: dataos://<depot_name>
        sourceConfig:
          config:
            schemaFilterPattern:
              includes:
              - npa_early_warning
